{% extends 'core/base.html' %}


{% load static %}
{% block content %}

<br />
<div class="account_grid">
	<div class="col-md-6 login-left">
		<h3>NEW CUSTOMERS</h3>
		<p>By creating an account with our store, you will be able to move through the
		 checkout process faster, store multiple shipping addresses, view and track your
		 orders in your account and more.
		</p>
		<a class="acount-btn" href="{% url 'register' %}">Create an Account</a>
	</div>
	<div class="col-md-6 login-right">
		<h3>REGISTERED CUSTOMERS</h3>
		<p>If you have an account with us, please log in.</p>

		{{ form.non_field_errors }}
		<form action="{{ request.get_full_path }}" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<div>
				{{ form.username.errors }}
				<span>Username</span>
				{{ form.username }}
			</div>
			<div>
				{{ form.password.errors }}
				<span>Password<label>*</label></span>
				{{ form.password }}
			</div>
			<a class="forgot" href="{% url 'password_reset' %}">Forgot Your Password?</a>
			<input type="submit" value="Login">
		</form>
	</div>
	<div class="clearfix"> </div>
</div>

{% endblock content %}
