{% load static %}
{% load carton_tags %}
{% get_cart as cart %}
{% if cart.count > 0 %}
<div class="apparel_box">

	<ul class="login">
		<li class="login_text"><a href="{% url 'login' %}">Login</a></li>
		<li class="wish"><a href="{% url 'carton' %}">Wish List</a></li>
		<div class='clearfix'></div>
	</ul>

	<div class="cart_bg">
		<ul class="cart">
			<i class="cart_icon"></i>
			<p class="cart_desc">{{ cart.total }} COP
			<br/><span class="yellow">{{ cart.count }} items</span></p>
			<div class='clearfix'></div>
		</ul>
		<ul class="product_control_buttons">
			<li>
				<form action="{% url 'carton' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="action" value="clear" />
					<input type="image" src="{% static 'core/images/close.png' %}" />
				</form>
			</li>
			<li><a href="{% url 'carton' %}">Edit</a></li>
		</ul>
		<div class='clearfix'></div>
	</div>

	<ul class="quick_access">
		<li class="view_cart"><a href="{% url 'carton' %}">View Cart</a></li>
		<li class="check"><a href="{% url 'carton' %}">Checkout</a></li>
		<div class='clearfix'></div>
	</ul>

</div>
{% endif %}
