{% extends 'core/base.html' %}

{% load static %}
{% block content %}

<br />

{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }}">
		<strong>{{ message.tags }}!</strong> {{ message }}
	</div>
	{% endfor %}
{% endif %}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>SubTotal</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for item in ticket.items.all %}
		<tr>
			<td>{{ item.product.name }}</td>
			<td>{{ item.product.price }} COP</td>
			<td>{{ item.quantity }}</td>
			<td>{{ item.subtotal }}</td>
			<td><a href="{% url 'product_detail' item.product.pk %}">open</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><strong>total:<strong> {{ ticket.total }} COP</td>
		</tr>
		{% if ticket.status %}
		<tr>
			<td colspan="3"><strong>status:<strong> {{ ticket.status.name }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
{% endblock content %}
